.Report-Container{
    padding: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
}

.Report-Container h2{
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 16px;
}
.Table-Wrapper{
    overflow-x:auto;
    background-color: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0,0.1);
}

.Report-Table{
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;
}
.Report-Table th, .Report-Table td{
    padding: 1rem 1.2rem;
    text-align:left;
    border-bottom: .1rem solid #ddd ;
}

.Report-Table th{
    background-color: #f3f4f6;
    color: #444;
    font-weight: 600;
}

.Report-Table tr:nth-child(even){
    background-color: #fafafa;
}

.Report-Table tr:hover{
    background-color: #f1f1f1;
}
.Report-Table tfoot {
    background-color: #f3f4f6;
    font-weight: bold;
}

.Delete-Button{
    background-color: #e74c3c;
    border: none;
    color:white;
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: .85rem;
    transition: background-color 0.2s ease;  
}
.Delete-Button:hover {
    background-color: #c0392b;
}

@media (width <= 600){
    .Report-Table{
        display: block;
        border:0;
    }

    .report-table thead {
    display: none;
  }

  .report-table tr {
    display: block;
    margin-bottom: 12px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }

  .report-table td {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border: none;
    border-bottom: 1px solid #eee;
  }

  .report-table td:last-child {
    border-bottom: none;
  }

  .report-table td::before {
    content: attr(data-label);
    font-weight: 600;
    color: #555;
  }
}